<nav class="navbar navbar-expand-lg navbar-dark shadow-10-strong">
    <a class="navbar-brand" href="#"><img src="assets/logo.png" style="height: 100px;"></a>
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/insert-product" routerLinkActive="active">Insert
                Product</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/get-product-by-id" routerLinkActive="active">Get Product
                by ID</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/update-product" routerLinkActive="active">Update
                Product</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/calculate-emi" routerLinkActive="active">Calculate EMI</a>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarText"></div>
    <span class="navbar-text">
        Let's You help to get Easy EMI
    </span>
</nav>
<router-outlet></router-outlet>